<div class = "container hola-cerrar-sesion">
    {{!--fila 1 --}}
    <div class = "row">
        <div class = "col">
            <p class="text-right">
            <span>Hola {{usuario}}!</span>
            <a href="/admin/login/logout" class = "btn btn-danger">Cerrar Sesión <i class ="fasfa-sign-out-alt" aria-hidden="true"></i></a>
            </p>
        </div>
    </div>
    {{!-- fin fila 1 --}} 
</div>{{!-- fin container --}}

{{!--fila 2 --}}
<div class = "row botones-novedades">
        <div class = "col">
            <h3>Listado de Novedades</h3>
        </div>
        
        <div class="col-7  text-right" style = "margin-top: 3px">
            <p class="text-right"></p>
            <a href="/admin/novedades/agregar" class = "btn btn-success"><i class ="fas fa-plus"></i>Nuevo</a>
        </div>
    {{!-- fin fila 2 --}} 


    {{!--fila 3 --}}
<div class=" row">;
    <div class="col">;
        <table class="table">
            <thead>
               
                <tr class="table-dark">
                    <th scope="col">#</th>
                    <th scope="col">Titulo</th>
                    <th scope="col">Imagen</th>
                    <th scope="col" class="text-right">Acciones</th>
                </tr>
                
            </thead>
            <tbody>
                {{#each novedades}}
                <tr>
                    <th scope="row" >{{id}}</th>
                    <td>{{Titulo}}</td>
                    <td>{{{imagen}}}</td>
                    <td class="text-right">
                           <a href="/admin/novedades/modificar/{{id}}" button type="button" class="btn btn-secondary"><i class="bi bi-pencil"></i></button></a>
                            <a href="/admin/novedades/eliminar/{{id}}" class="btn btn-secondary"><i class="bi bi-trash"></i></a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>

    </div>

</div>




</div>{{!-- fin container --}}