<!-- Sección Hero-->
<section id="home" class="hero-superior row align-items-center">
  <div class="container-fluid">
    <div class="col-md-3 offset-md-2">
      <h1>Bienvenidos a Mi Mundo Amigurumis</h1>

      <h2>Tejidos artesanales únicos, hechos con amor.</h2>
    </div>
  </div>
</section>

<!-- Sobre mí -->
<section id="sobre-mi" class="sobre-mi seccion-verde">
  <div class="contenedor">
    <h2 class="seccion-titulo"> Sobre mí, la artesana</h2>
    <p class="seccion-texto">Mi nombre es Adriana Medina tengo 62 años y vivo en Cosquín, una ciudad muy turística de la
      provincia de Córdoba, Argentina. Desde muy pequeña he realizado artes manuales como tejido a dos agujas, bordado,
      corte y confección. A medida que fui creciendo estudié Arte y comencé a dibujar y a pintar con acrílico y óleo. De
      mayor fui a diversos talleres artísticos y uno de ellos fue de mosaiquismo, un arte que realizo en la actualidad
      junto con el crochet, entre otras actividades.</p>

    <p class="seccion-texto">Desde que vivo en Cosquín me he dedicado exclusivamente al crochet, arte con la que se
      pueden crear infinidad de objetos y decoraciones. Hace un año ingresé a la Feria de Artesanos más importante de
      esta ciudad y desde ese día no he parado de tejer Amigurumis, muñecos para bebés y niños.</p>
  </div>
</section>


<!--Mis artesanías-->
<section id="que-tejo" class="mis-artesanias seccion-rosa">
  <div class="container text-center">
    <div class="row">
      <!--Para bebés-->
      <div class="columna col-12 col-md-4">
        <i class="bi bi-balloon-heart"></i>
        <p class="para-bebes-titulo">Para bebés</p>
        <p>Si queres que tu bebé tenga una encantadora experiencia con sus primeros muñecos, esta es una opción ideal
          porque cada artesanía está realizada con hilos finos de la mejor calidad siendo hipoalergénicos, es decir, tu
          bebé no tendrá alergias al utilizarlos. Podrá manipularlos a través de todos sus sentidos, le encantará la
          suavidad y esponjosidad de su muñeco, que además nadie tendrá otro igual.</p>
        <div class="badges-contenedor">
          <span class="badge text-bg-light">Mantas de apego</span>
          <span class="badge text-bg-light">Sonajeros</span>
          <span class="badge text-bg-light">Porta chupetes</span>
          <span class="badge text-bg-light">Suaves muñequitos</span>
        </div>

      </div>

      <!--Muñecos para niños-->
      <div class="columna col-12 col-md-4">
        <i class="bi bi-chat-heart"></i>
        <p class="para-ninos-y-ninas-titulo">Para niños y niñas</p>
        <p>Si deseas hacer un lindo regalo para niñas o niños de tu hogar, tengo la solución. Estos bellos y suaves
          muñecos les van a encantar porque puedo hacer el personaje favorito de ella o él y jugarán con ellos hasta el
          cansancio debido a que duran muchos años, no se rompen ni descosen ni se deforman al lavarlos en el lavaropas,
          siempre mantendrán su forma original como desde el primer día.</p>
        <div class="badges-contenedor">
          <span class="badge text-bg-light">Harry Potter</span>
          <span class="badge text-bg-light">El Principito</span>
          <span class="badge text-bg-light">Peppa Pig</span>
          <span class="badge text-bg-light">Y lo que desees...</span>
        </div>
      </div>

      <!--Adornos y variedad-->
      <div class="columna col-12 col-md-4">
        <i class="bi bi-person-hearts"></i>
        <p class="adornos-y-variedad-titulo">Adornos y variedad</p>
        <p>Si lo que te interesa es algún adorno, llavero u objeto del hogar tengo algunas opciones para ofrecerte, si
          bien me especializo en muñecos para bebés y niños,también realizo objetos varios y si deseas algo que no tengo
          en stock, en pocos días lo realizo.</p>
        <div class="badges-contenedor">
          <span class="badge text-bg-light">Llaveros</span>
          <span class="badge text-bg-light">Almohadones</span>
          <span class="badge text-bg-light">Cuadritos para habitación</span>
          <span class="badge text-bg-light">Y más...</span>
        </div>
      </div>
    </div>
  </div>

</section>


<!--Mis creaciones- Mis Proyectos-->
<section id="mis-artesanias" class="proyectos-recientes seccion-verde d-flex flex-column">
  <h2 class="seccion-titulo texto-negro">Mis simpáticas creaciones </h2>
  <h3 class="seccion-descripcion">Estas son algunas de mis creaciones... </h3>

  <!--Galería de creaciones y proyectos-->
  <div class="container text-center proyectos-contenedor">
    <div class="row">

      <!-- Proyecto 1-->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="proyecto">
          <img src="images/mantas de apego.jpg" alt="Mantas de apego y muñeco al crochet.">
          <div class="overlay">
            <p>Mantas de apego</p>
            <div class="iconos-contenedor">
              <a href="https://www.instagram.com/p/CnSCXGyuTx6/" target="_blank" rel="noopener noreferrer">
                <i class="bi bi-instagram"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- Proyecto 2-->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="proyecto">
          <img src="images/sonajero muñeco y portachupete osito.jpg"
            alt="Sonajero, muñeco y portchupete de osito al crochet.">
          <div class="overlay">
            <p>Sonajeros, muñecos y portachupetes</p>
            <div class="iconos-contenedor">
              <a href="https://www.instagram.com/p/CnSCzTlum-c/" target="_blank" rel="noopener noreferrer">
                <i class="bi bi-instagram"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- Proyecto 3-->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="proyecto">
          <img src="images/conejita feria1.jpg" alt="Muñecos para bebés.">
          <div class="overlay">
            <p>Muñecos para bebés</p>
            <div class="iconos-contenedor">
              <a href="https://www.instagram.com/p/CnSEhYQJQ36/" target="_blank" rel="noopener noreferrer">
                <i class="bi bi-instagram"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- Proyecto 4-->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="proyecto">
          <img src="images/ositos feria.jpg" alt="Ositos tejidos al crochet.">
          <div class="overlay">
            <p>Tu personaje favorito</p>
            <div class="iconos-contenedor">
              <a href="https://www.instagram.com/p/CnSJwEDJyvB/" target="_blank" rel="noopener noreferrer">
                <i class="bi bi-instagram"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- Proyecto 5-->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="proyecto">
          <img src="images/Ropa de muñecas.jpeg" alt="Mantas de apego y muñeco al crochet.">
          <div class="overlay">
            <p>Ropa para tus muñecas</p>
            <div class="iconos-contenedor">
              <a href="https://www.instagram.com/p/CnSKbbdpPpl/" target="_blank" rel="noopener noreferrer">
                <i class="bi bi-instagram"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- Proyecto 6-->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="proyecto">
          <img src="images/pulpitos1.JPG" alt="Mantas de apego y muñeco al crochet.">
          <div class="overlay">
            <p>Muñecos para niños y niñas</p>
            <div class="iconos-contenedor">
              <a href="https://www.instagram.com/p/CPXPDaWLGvw/" target="_blank" rel="noopener noreferrer">
                <i class="bi bi-instagram"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a href="https://www.instagram.com/mimundoamigurumiscosquin/" target="_blank" rel="noopener noreferrer">
    <button type="button" class="btn btn-outline-light">Ver más Amigurumis
      <i class="bi bi-arrow-right-circle"></i>
    </button>
  </a>
</section>



<!-- Testimonios -->

<section id="testimonios" class="testimonios seccion-verde">
  <h2 class="seccion-titulo texto-negro">Testimonios</h2>
  <h3 class="seccion-descripcion">Estos son algunos testimonios de mis clientes...</h3>

  <!-- Carrusel-->
  <div id="testimonios-carrusel" class="carousel dark slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="container">
          <img class="testimonio-imagen rounded-circle" src="images/cliente1.svg" alt="Imagen de Juan Pedro">
          <p class="testimonio-texto">"Muy buenos productos, a mi sobrino le encantaron, se nota que están hechos con
            delicadeza. Y los precios muy accesibles."</p>
          <div class="testimonio-info">
            <p class="cliente">Juan Pedro, 35 años</p>
            <p class="provincia"> - Buenos Aires -</p>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="container">
          <img class="testimonio-imagen rounded-circle" src="images/cliente2.svg" alt="Imagen de Lorena">
          <p class="testimonio-texto">"Le pedí a la artesana que me hiciera a El Principito, pensé que me iba a decir
            que era muy complicado, que demoraría mucho tiempo, pero aceptó inmediatamente y solo tardó cuatro días en
            hacerlo. La verdad quedó espectacular. En julio vuelvo y le encargo algo más."</p>
          <div class="testimonio-info">
            <p class="cliente">Lorena, 26 años</p>
            <p class="provincia"> - Usuhaia -</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container">
          <img class="testimonio-imagen rounded-circle" src="images/cliente3.svg" alt="Imagen de Ricardo">
          <p class="testimonio-texto">"Me gustaron mucho sus artesanías, están muy bien hechas. Le compré un osito para
            mi hijo y me sorprendió cómo lo lleva para todos lados, no lo suelta. Es lindo ver que encontró a su muñeco
            ideal y compañero."</p>
          <div class="testimonio-info">
            <p class="cliente">Ricardo, 38 años</p>
            <p class="provincia"> - La Pampa -</p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#testimonios-carrusel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#testimonios-carrusel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Siguiente</span>
    </button>
  </div>

</section>




<!-- Videoss -->
<section id="videos-recomendados" class="videos justify-content-start seccion-rosa d-flex flex-column">
  <h2 class="seccion-titulo texto-negro">Videos para tejer Paso a pasito </h2>
  <div class="card">
    <div class="card-header">
      Videos recomendados
    </div>
    <ul class="list-group list-group-flush">
      <a href="https://www.youtube.com/watch?v=6GEkkyx5FVE" target="_blank" rel="noopener noreferrer">
        <li class="list-group-item">Tierno Osito | Tejiendo con pasión</li>
      </a>

      <a href="https://www.youtube.com/watch?v=wIb7DTRvwSc" target="_blank" rel="noopener noreferrer">
        <li class="list-group-item">Spiderman Amigurumi | Jennita De Amor</li>
      </a>

      <a href="https://www.youtube.com/watch?v=EYnF3y1TGKY" target="_blank" rel="noopener noreferrer">
        <li class="list-group-item">Lindas Ballenitas para llavero | Blue Bubalú</li>
      </a>

      <a href="https://www.youtube.com/watch?v=s9_2OrA8HtU" target="_blank" rel="noopener noreferrer">
        <li class="list-group-item">Elefante con orejas grandes | Jennita De Amor</li>
      </a>

      <a href="https://www.youtube.com/watch?v=1_mR_3ENSyo" target="_blank" rel="noopener noreferrer">
        <li class="list-group-item">Harry Potter Amigurumi Paso a paso | Lanas y Ovillos</li>
      </a>
    </ul>
  </div>
  <a href="https://www.youtube.com/results?search_query=tejer+amigurumis+paso+a+paso+espa%C3%B1ol" target="_blank"
    rel="noopener noreferrer">
    <button type="button" class="btn btn-outline-danger">
      Más videos recomendados
      <i class="bi bi-collection-play"></i>
    </button>
  </a>
</section>

<!-- Sección Novedades -->

<div class ='class="videos justify-content-start seccion-rosa d-flex flex-column row my-3'>
  <div id="novedades" class="col-md-5 offset-md-2 scroll_section">
    <h1 class="seccion-titulo texto-negro">Novedades</h1>
    <ul class="lista-novedades">
      {{#each novedades}}
   
  <div class="col">
    <div class="card">
      <a href="#" data-bs-toggle="modal" data-bs-target="#modal{{id}}"><img src= "{{imagen}}" class="card-img-top" alt="Imagen relacionada a la noticia">{{Titulo}}</a>
      <div class="card-body">
      </div>
    </div>
  </div>
      {{/each}}
    </ul>
  </div>
</div>


<!--Modal -->
{{#each novedades}}
  <div class="modal fade" id="modal{{id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
         <h3 class="modal-title" id="exampleModalLabel">{{Titulo}}</h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <img src= "{{imagen}}" class="card-img-top" alt="Imagen relacionada a la noticia">
          <h5>{{Subtitulo}}</h5>
          <h6>{{Cuerpo}}</h6>


        </div>
        </div>
      </div>
    </div>
  </div>
{{/each}}

<!-- Fin del Modal -->
























<!-- Sección Contacto -->
<section class="contacto seccion-oscura">
  <div class="container">
    <div id="contacto" class="container text-center rectangulo d-flex justify-content-evenly">
      <div class="row">

        <div class="col-12 col-md-4 seccion-titulo">
          ¡Hablemos!
        </div>

        <div class="col-12 col-md-4 seccion-descripcion">
          Contáctame para iniciar el muñeco que tanto desean los más pequeños de tu hogar y haré que se sientan muy
          contentos.
        </div>

        <div class="col-12 col-md-4">
          <a href="mailto:adrianaedithmedina73@gmail.com">
            <button type="button">
              Contacto
              <i class="bi bi-send-check"></i>
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>

      <form action="/" method="post">
      <input class="casilla" type="text" placeholder="Nombre" name="nombre">
      <input class="casilla" type="text" placeholder="Apellido" name="apellido"> <br>
      <input class="casilla" type="text" placeholder="Ciudad" name="ciudad">
      <input class="casilla" type="text" placeholder="Email" name="email"> <br>
      <textarea class="formulario" type="text" placeholder="Mensaje" name="mensaje"></textarea>
      <button class="boton-enviar d-flex flex-wrap " type="submit"> Enviar </button>
      <p>{{message}}</p>

    </form>
</section>